<% unless comment.archived? %>
  <div id="<%= dom_id(comment) %>">
    <%= render 'comments/comment_attributes', comment: comment %>
    <p class="destroy-comment">
      <%= link_to 'Destroy Comment', [comment.article, comment],
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </p>
  </div>
<% end %>
