<% unless comment.archived? %>
  <p class="commenter">
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p class="comment-body">
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
