<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<p class="public-count">
  Our blog has <%= pluralize(Article.public_count, "article") %> and counting!
</p>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>

  <%= link_to "New Article", new_article_path %>
</ul>
