<h1>Rails 7 Getting Started</h1>
<p>Check out our <%= link_to "articles", articles_path %> from the Getting Started Guide!</p>
<p>We also generated a similar resource called <%= link_to "posts", posts_path %> using the
   scaffold generator.</p>

<%= image_tag "GettingStartedRails7_512.png", class: "animate__animated animate__slideInLeft"%>
